.homeContainer {
  width: 70%;
  text-align: center;
  margin: auto;
}

.slider {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 100px;
}

.gameDiv {
  display: flex;
  flex-direction: column;
  margin: 0 100px;

  img {
    width: auto;
    height: 60%;
  }
}

.scrollLeft {
  position: relative;
  right: 52%;
  top: 230px;
  border: none;
  background: none;
  font-size: 2rem;
  color: greenyellow;
  cursor: pointer;
}

.scrollRight {
  position: relative;
  left: 52%;
  top: 230px;
  border: none;
  background: none;
  font-size: 2rem;
  color: greenyellow;
  cursor: pointer;
}

.selection-list {
  color: #d3d3d3;
}
