.homeContainer {
  width: 70%;
  text-align: center;
  margin: auto;
}

.slider {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
}

.selection-list::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 6%;
  padding-top: 1rem;
  border-bottom: 3px solid lawngreen;
}

.gameDiv {
  display: flex;
  flex-direction: column;
  margin: 0 100px;

  img {
    width: auto;
    height: 60%;
  }
}

.scrollLeft {
  position: relative;
  right: 52%;
  top: 230px;
  border: none;
  background: none;
  font-size: 2rem;
  color: greenyellow;
  cursor: pointer;
}

.scrollRight {
  position: relative;
  left: 52%;
  top: 230px;
  border: none;
  background: none;
  font-size: 2rem;
  color: greenyellow;
  cursor: pointer;
}

.selection-list {
  color: #d3d3d3;
}

.gamePic {
  cursor: pointer;
}
