.ticket-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .ticket-welcome {
    font-weight: bold;
    font-size: 46px;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    text-transform: capitalize;
    background-image:
      linear-gradient(
        -225deg,
        #fff 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .ticket-section {
    border: 1px solid #fff;
    background: lawngreen;
    margin: 2rem;
    text-align: center;
    width: 47%;

    .ticket-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #ff5733;
      color: #fff;
      font-weight: 800;
      font-size: 2rem;
      padding: 0 1rem 0 2rem;
      gap: 4rem;

      .ticket-image {
        padding: 0.6rem 0 0.6rem 0;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
      }
    }

    .ticket-header .ticket-details {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .ticket-ball {
        padding: 0.6rem 0 0.6rem 0;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
      }

      .ticket-info {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ticket-data {
    width: 100%;

    .ticket-welcome {
      text-align: center;
      font-weight: bold;
      font-size: 36px;
      font-family: "Gill Sans", "Gill Sans MT", sans-serif;
      text-transform: capitalize;
      background-image:
        linear-gradient(
          -225deg,
          #fff 0%,
          #44107a 29%,
          #ff1361 67%,
          #fff800 100%
        );
      background-clip: border-box;
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 4s linear infinite;
      display: inline-block;
    }

    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }

    .ticket-section {
      border: 1px solid #fff;
      background: lawngreen;
      margin: 0.9rem;
      text-align: center;
      width: 98%;

      .ticket-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #ff5733;
        color: #fff;
        font-weight: 600;
        font-size: 1.6rem;
        padding: 0 1rem 0 2rem;
        gap: 3rem;

        .ticket-image {
          padding: 0.6rem 0 0.6rem 0;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
        }
      }

      .ticket-details {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .ticket-ball {
          padding: 0.6rem 0 0.6rem 0;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }

        .ticket-info {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
